{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Checkout | {% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height:90vh;font-family:poppins;margin-top:3rem;color:#333;">
        <div class="col-sm-4 col-sm-offset-4 ">
            <form action="." method="post">
                <h4>Checkout</h4>
                <br>
                <h5>Total: NGN{{ cart.get_total_cost }}</h5>
                <hr>
                {% csrf_token %}
                {{ payment_form|crispy }}
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<!--                            <input type="submit" class="btn btn-primary" name="" value="Click to SignUp"-->
<!--                                   onclick="return confirm('Thank you redirecting you to login Page.');">-->

{% endblock %}